  /*******************/
/* Top-most header */
/*******************/

#header-back {
    margin-top: -.5em;
    padding-top: 0;

    background: none repeat scroll 0 0 #fff;
}

#header:after,
#footer_first:after,
#footer_second:after,
#footer:after {
    clear: both;
}
#header:before,
#header:after,
#footer_first:before,
#footer_first:after,
#footer_second:before,
#footer_second:after,
#footer:before,
#footer:after {
    display: table;

    content: '';
}

#header {
    width: 100%;
    margin-top: .5em;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

#skip-link {
    margin: 0;
}

#skip-link a, #skip-link a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
}

.element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
}

.element-invisible, .element-focusable {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.element-focusable:active, .element-focusable:focus {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {

    #header {
        width: 95%;
        margin-left: 1%;
    }

    #sub-links, #sub-links a {
	border: none !important;
	background-color:#fff !important;
	color:#009 !important;
   }


    #header div {
        margin-bottom:5px;
    }

    header #advanced-form > p:nth-child(2),
    #site-title,
    #nal-logos,
    /*#search-container,*/
    #sub-nav-container,
    #header_logo_site_info,
    .header__secondary-menu {
        float: none !important;
        clear: both;

        width: 95%;

        text-align: left;
    }

    header  #advanced-search {
        margin-left: -2em;
    }

    .breadcrumbs, #site-title {
        margin-left: 12px;
        margin-right: 12px;
    }
}
@media only screen and (max-width: 767px) {
    #header {
        width: 95%;
        margin-left: 1%;
    }

    #sub-links, #sub-links a {
	border: none !important;
	background-color:#fff !important;
	color:#009 !important;
   }

    #header div {
        margin-bottom:5px;
    }

    header #advanced-form > p:nth-child(2),
    #site-title,
    #nal-logos,
    #search-container,
    #sub-nav-container,
    #header_logo_site_info,
    .header__secondary-menu {
        float: none !important;
        clear: both;

        width: 95%;

        text-align: left;
    }

    header  #advanced-search {
        margin-left: -2em;
    }

    .breadcrumbs, #site-title {
        margin-left: 12px;
        margin-right: 12px;
    }
}



@media only screen and (min-width: 480px) and (max-width: 767px) {
    #header {
        width: 95%;
        margin-left: 1%;
    }

    #sub-links, #sub-links a {
	border: none !important;
	background-color:#fff !important;
	color:#009 !important;
   }

    #header div {
        margin-bottom:5px;
    }

    .header__logo-image {
        margin-top:10px;
    }

    header #advanced-form > p:nth-child(2),
    #site-title,
    #nal-logos,
    /*#search-container,*/
    #sub-nav-container,
    #header_logo_site_info,
    .header__secondary-menu {
        float: none !important;
        clear: both;

        width: 95%;

        text-align: left;
    }

    header  #advanced-search {
        margin-left: -2em;
    }


    .breadcrumbs, #site-title {
        margin-left: 12px;
        margin-right: 12px;
    }
}


@media only screen and (max-width: 640px) {
    #header {
        width: 95%;
        margin-left: 1%;
    }

    #sub-links, #sub-links a {
	border: none !important;
	background-color:#fff !important;
	color:#009 !important;
   }

    #header div {
        margin-bottom:5px;
    }

    .header__logo-image {
        margin-top:10px;
    }

    header #advanced-form > p:nth-child(2),
    #site-title,
    #nal-logos,
    #search-container,
    #sub-nav-container,
    #header_logo_site_info,
    .header__secondary-menu {
        float: none !important;
        clear: both;

        width: 95%;

        text-align: left;
    }

    header  #advanced-search {
        margin-left: -2em;
    }

    .breadcrumbs, #site-title {
        margin-left: 12px;
        margin-right: 12px;
    }
}


.header__logo-image {
    float: left;

    padding: 2px;

    vertical-align: bottom;
}

.header__name-and-slogan {
    margin-top: .625em;
}


.header__site-name {
    font-family: Helvetica;
    font-size: 1em;
    font-weight: bold;
    font-variant: normal;
    line-height: 1em;

    margin-top: 0;
    padding-top: 0;

    letter-spacing: 0;

    color: #5c5c5c !important;
}

.header__site-link {
    color: #5c5c5c !important;
}

#site-slogan > a:nth-child(1) {
    color: #000 !important;
}

.header__site-link:link,
.header__site-link:visited {
    text-decoration: none;

    color: #000;
}

.header__site-slogan a,
.header__site-slogan a:hover,
.header__site-slogan a:focus {
    text-decoration: none;

    color: #000;
}

.header__site-slogan {
    font-family: Helvetica;
    font-size: 1.2em;
    font-weight: bold;
    font-variant: normal;
    line-height: 1em;

    margin: 0;
    padding-top: 10px;

    color: #000 !important;
}

.header__site-link:link,
.header__site-link:visited {
    text-decoration: none;

    color: #5c5c5c;
}

#sub-links {
    font-size: 80%;

    float: right;

    max-width: 415px;

    text-align: justify;

    color: #f2f2f2;
    border: 2px solid #0d233c;
    background-color: #0d233c;
}

/*.autumn #sub-links {
    font-size: 80%;

    float: right;

    max-width: 415px;

    text-align: justify;

    color: #f2f2f2;
    border: 2px solid #8C2E0B;
    background-color: #8C2E0B;
}*/


#sub-links li a {
    text-decoration: none;
    padding: 0px 0.15em;
    color: #fff;
}

#sub-links > ul > li {
    display: inline-block;

    width: auto;
    padding: 0 15px;

    border-right: 1px solid #fff;
}

#sub-links > ul > li:last-child {
    border-right: medium none;
}

@media only screen and (max-width: 640px) {
    #sub-links > ul > li {
        padding: 0 3px;
    }
}


#ask:after {
    content: ' a Question';
    padding-right:0.15em;
}

#contact:after {
    content: ' Us';
}

#visit:after {
    content: ' the Library';
}

.header__secondary-menu {
    float: right;
}

#sub-nav-container {
    font-family: Arial;
    font-size: 1.1em;

    margin-top: .25em;

    text-align: right;
}

.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;

    height: 0;

    content: '.';
}

#sub-nav-container #sub-links ul {
    margin: 0;
    padding: 0;

    list-style: none outside none;
}

ul.inline {
    display: inline;

    padding: 0;
}

ul.inline li {
    display: inline;

    padding: 0 1em 0 0;

    list-style-type: none;
}


.breadcrumbs {
    font-size: .8em;
    font-family: Helvetica, sans-serif;
    clear: both;

    line-height: .9em;
}

.breadcrumbs a {
  text-decoration: underline;
}

/*******************/
/* Footer          */
/*******************/

#footer-links {
    font-family: Verdana,Tahoma,'DejaVu Sans',sans-serif;
    font-size: .8em;
    font-weight: normal;
    line-height: .8em;

    padding: 20px 0;

    text-align: center;

    color: #fff;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    #footer-links {
        line-height: 1em;

        width: 768px !important;
    }
}
@media only screen and (max-width: 767px) {
    #footer-links {
        line-height: 1em;

        width: 300px !important;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    #footer-links {
        line-height: 1em;

        width: 420px !important;
    }
}


@media only screen and (max-width: 640px) {
    #footer-links {
        line-height: 1em;

        width: 95%;
    }
}

#footer-links a {
    margin: 0;

    vertical-align: baseline;
    text-decoration: none;

    color: #fff;
    background: none repeat scroll 0 0 transparent;
}

.ext {
    padding-right: 12px;

    background: url('../images/extlink.png') no-repeat scroll right center transparent !important;
}

#footer {
    padding-top: 5px;

    text-align: center;
}

#footer-links ul {
    margin: 0;
    padding: 0;

    list-style-type: none;

    text-align: center;
}

#footer-links  ul li {
    display: inline;

    text-decoration: none;
}

#footer-links  ul li:after {
    content: ' \007C ';
}

#footer-links ul li:last-child:after {
    content: '';
}


#footer-address {
    font-size: .8em;
    font-weight: normal;

    padding: 0 0 5px;

    text-align: center;

    opacity: .8;
    color: #fff;
}

.bibliog {
    margin-left: 1.5em;

    text-indent: -1.5em;
}

.hidden {
    display: none;
}
